body {
    color: #333;
}
a {
    text-decoration: none;
    color: #1b98f8;
}

/* LAYOUT CSS */
#layout {
    position: relative;
}

#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    width:150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 2em 0;
}
#main {
    margin-left: 150px;
}
.maincontent {
    padding: 10px;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
#nav h1, #nav h2 {
    color: #FFF;
}
#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
    background: rgb(55, 60, 90);
}
#nav .pure-menu a {
    color: #fff;
    margin-left: 0.5em;
}
#nav .pure-menu-heading {
    border-bottom: none;
    font-size:110%;
    color: rgb(75, 113, 151);
}

#nav .nav-menu-button {
    display: none;
}

.item-list {
    background-color: #dfdfdf;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid black;
}

/* Form */
.step {
    border: 1px solid grey;
    padding: 5px;
}

.delete-step {
    float: right;
}

input, textarea {
    padding: 2px;
}